{% extends "base_generic.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style_data.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
<body>
<br>
<h1> Fakulteti </h1>
<br>
{% for fakultet in fakultet_list %}
    <div class="fakultet">
        <p><span class="opis">Naziv fakulteta:</span> <span class="podatak"><a href="{{fakultet.fakultet_naziv}}"> {{ fakultet.fakultet_naziv }}</a></span></p>
        <p><span class="opis">Adresa:</span>  <span class="podatak">{{ fakultet.fakultet_adresa }}</span></p>
        <p><span class="opis">Tel:</span>  <span class="podatak">{{ fakultet.fakultet_kontakt_broj }}</span></p>
        <p><span class="opis">E-mail:</span>  <span class="podatak">{{ fakultet.fakultet_email_referade }}</span></p>
        <p><span class="opis">URL:</span>  <span class="podatak">{{ fakultet.fakultet_website }}</span></p><hr>
    </div>
{% endfor %}
{% endblock %}
</body>
</html>