{% extends "base_generic.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style_data.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
<body>
<br>
<h1> Studenti</h1>
<br>
<br><br>
{% for student in object_list %}
    <div class="student">
        <p><span class="opis">Ime: </span> <span class="podatak">{{ student.student_ime }}</span></p>
        <p><span class="opis">Prezime: </span> <span class="podatak">{{ student.student_prezime }}</span></p>
        <hr>
    </div>
{% endfor %}
{% endblock %}
