{% extends "base_generic.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style_data.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
<body>
<br>
<h1> Studenti </h1>
<br>
<p><span class="opis cijepljeni">Cijepljeno je:</span> <span class="podatak"> {{num_student_cjepljenih}} </span><span class="opis">studenata, od sveukupno: {{num_student}} studenata</span> </p>
<br><br>
{% for student in allStudent %}
    <div class="student">
        <p><span class="opis">Ime: </span> <span class="podatak">{{ student.student_ime }}</span></p>
        <p><span class="opis">Prezime: </span> <span class="podatak">{{ student.student_prezime }}</span></p>
        <p><span class="opis">JMBAG: </span> <span class="podatak">{{ student.student_jmbag }}</span></p>
        <p><span class="opis">Adresa: </span> <span class="podatak">{{ student.student_adresa }}</span></p>
        <p><span class="opis">E-mail: </span> <span class="podatak">{{ student.student_email }}</span></p>
        <p><span class="opis">Fakultet: </span> <span class="podatak">{{ student.student_fakultet }}</span></p>
        <p><span class="opis">Status cijepljenja: </span> <span class="podatak">{{ student.student_cijepljen }}</span></p>
        <p><span class="opis">Naziv cjepiva: </span> <span class="podatak">{{ student.student_cjepivo }}</span></p>
        <p><span class="opis">Datum cijepljenja: </span> <span class="podatak">{{ student.student_datum_cijepljenja }}</span></p>
        <p><span class="opis">Datum isteka COVID potvrde: </span> <span class="podatak">{{ student.student_datum_isteka_potvrde }}</span></p>
        <p><span class="opis">Student je prebolio COVID: </span> <span class="podatak">{{ student.student_prebolio_covid }}</span></p> <hr>
    </div>
{% endfor %}
{% endblock %}
